@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Category>

<h2>Categories for @User.Identity.Name</h2>

@if(Model.Any())
{
  <ul>
    @foreach(Category category in Model)
    {
      <li>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</li>
    }
  </ul>
  
}
else
{
  <p>You have not created any categories yet!</p>
}

<p>@Html.ActionLink("Add new Category", "Create", new { str = "test" })</p>